body {
    font-size: 16px;
    width: 62%;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #FE7773;
    font-size: 2.5rem;
}

.complete {
    text-decoration: line-through;
    text-decoration-color: red;
}

ul>li {
    list-style:decimal;
}

ul button {
    position: relative;
    bottom: 19px;
    left: 10%;
    margin-left: 1%;
    width: 14%;
    border-radius: 5px;
}

.completeButton {
    background-color: #2997ff;
    font-size: 1rem;
    padding: 5px 40px;
    position: relative;
    border: solid 2px transparent;
    gap: 6px;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #1d2b64, #03a9f4) border-box;
    border-radius: 8px;
}

.completeButton:hover {
    background: linear-gradient(90deg, #1d2b64 0%, #03a9f4 100%);
    cursor: pointer;
}

.deleteButton {
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
    padding: 5px 2px;
    border-radius: 10px;
    gap: 6px;
    background: #E81E25;
    color:aliceblue;
    border: 2px solid transparent;
}

.deleteButton:hover {
    font-family: 'Crimson Text', serif;
    position: relative;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #1d2b64, #03a9f4) border-box;
    color: #0E0301;
    cursor: pointer;
}

form {
    position: relative;
    left: 700px;
}

form input {
    padding: .8rem;
    font-size: 1em;
    width: 15rem;
    height: 20px;
    border: 2px solid #111;
    border-radius: 2rem;
    color: #000;
    transition: border-color 0.3s ease-in-out;
}

form input:focus {
    outline: none;
    box-shadow: 0 2px 4px lightblue;
    border: 2px solid lightblue;
}

form button {
    margin-left: 10px;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

form button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.display {
    display: none;
}

.wrapper {
    position:absolute;
    top: 30px;
    left: 86%;
}

.createTodoButton, .existingTodoButton {
    font-family: 'Crimson Text', serif;
    margin: 8px;
    font-size: 1rem;
    padding: 5px 2px;
    border-radius: 10px;
    gap: 6px;
    background: #ECE4E2;
    color:#FE7773;
    border: 2px solid transparent;
}

.darkMode {
	background: #202430;
    color: whitesmoke;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for="btn"] {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label[for="btn"]:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label[for="btn"] {
	background: #bada55;
}

input:checked + label[for="btn"]:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label[for="btn"]:active:after {
	width: 130px;
}
